@import "bootstrap";
@import "rails_bootstrap_forms";
@import "devise_bootstrap_views";
@import "toastr";

body {
    font-size: .875rem; // margin : 0 1em 0 1em ;
    overflow: hidden;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/*
   * Sidebar
   */

.sidebar {
    // position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    // background-color: rgb(86, 187, 55);
}

.sidebar-sticky {
    position: -webkit-sticky;
    // position: sticky;
    // top: 48px;
    /* Height of navbar */
    // height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.nav-item {
    margin-left: 20px;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #000;
}

.nav-link {
    font-weight: 500;
    color: white;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgb(86, 187, 55);
    color: white;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    background-color: rgb(86, 187, 55);
}

.form-control-dark .w-100 {
    color: #fff;
    background-color: rgb(86, 187, 55);
    border-color: rgb(86, 187, 55);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar-nav {
    background-color: rgb(86, 187, 55);
}

/*
   * Utilities
   */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.main {
    // position: fixed;
    // margin-top: 10px;
    // overscroll-behavior: none;
    background-color: #fff;
}

.tag-columns {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    // margin-bottom: 2px;
}

.tag-columns .row {
    display: block;
    overflow-y: hidden;
    padding: 1px;
    margin: 0px;
}

.tag-columns .tag-column-box {
    display: inline-block; // vertical-align: top;
    float: none;
    padding: 1px;
    white-space: normal;
    height: 100%;
    overflow: hidden;
}

.tag-columns .tag-column-box .tag-column-box-header {
    font-size: 2.0rem;
    height: 4rem;
    line-height: 4rem;
    border: 1px solid black;
    background-color: rgba(86, 187, 55, .1);
    text-align: center;
}

.tag-columns .tag-column-box .tag-column-box-body {
    overflow-y: scroll;
    height: calc(100vh - 90px);
}

.form-label {
    font-weight: bold;
}